

*
{
    background-color: #5fcde4 !important;
}
.btn
{
    background-color: #99e550 !important;
    color: #663931 !important;
    border-color: #663931;
    border-radius: 15px;
}
 
btn :hover
{
    background-color: #6abe30 !important;
    color: white !important;
}

.scrollable-list {
    overflow-y: auto;   /* Enables vertical scrolling */
    border: 1px solid #ccc; /* Optional: Just for visibility */
    padding: 10px; /* Ensure it takes full width */
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
    width: auto;
    max-height: 180px;
    overflow-x: hidden; 
}
.table-header {
    display: inline-block;
}
th.url-column, td.url-column {
    width: 50%; /* More space for URLs */
    min-width: 200px;
    max-width:200px;
    text-align: left;
    overflow: hidden; /* Hides overflowing content */
    text-overflow: ellipsis; /* Shows '...' when content overflows */
  }
th.time-column {
  width: 20%;
  min-width: 100px;
  text-align: left;
}
td.time-column {
    width: 20%;
    min-width: 50px;
}

th.actions-column {
  width: 30%;
  min-width: 150px;
  text-align: left;
}  
td.actions-column {
    justify-content: center;
}
.input-container {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Adds space between elements */
  }
  /* Hide arrows for number inputs in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  