@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
body {
    font-size: 15px;
    margin: 15px;
    padding: 0;
    height: 400px;
    width: 400px;
    max-height: 400px;
}
* {
    font-family: "Pixelify Sans", serif;
}

.logo {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 120%;
    height: 300px;
}
